@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #ccc;
    width: 100%;
    min-height: 100vh;
}

.header{
 background-color: #0A1E33;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 9;
}

.header-box{
    max-width: 1700px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    margin: auto;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    color: #fff;
    cursor: pointer;
}

.logo img{
    cursor: pointer;
    display: flex;
    width: 200px;
    filter: brightness(0) invert(1);
}


.navLinks a{
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin-left: 2rem;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease;
}

.navLinks a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width .5s ease;
}

.navLinks a:hover{
    color: #ccc;
}

.navLinks a:hover::after {
    width: 100%;
}

.toggle-bars{
    display: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.toggle-bars:hover{
    color: #ccc;
}

.principal{
    background-image: url(img/fundo-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.texto-principal{
    /* background-color: #ffffff; */
    width: 600px;
    padding: 1rem;
    border-radius: 12px;
    transform: translateX(100px);
    /* box-shadow: 0px 5px 13px 5px rgba(0, 0, 0, 0.315); */
    color: #fff;
}

.texto-principal h2{
    font-size: 4rem;
    margin-bottom: .5rem;
}

.texto-principal p{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn{
    background-color:#053a5e ;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.466);
    transition: .3s ease-in-out;
}

.btn:hover{
    scale: 1.05;
    background-color:#0a578a ;
}

.section{
    margin: auto;
    max-width: 1700px;
    min-height: 100vh;
    scroll-margin-top: 120px;
}

.h2{
    color: #fff;
    font-size: 3.9rem;
    font-weight: 600;
    background-color: #ccc;
    text-align: center;
    padding: 1rem 0rem;
    margin: 2rem;
}

.h2 span{
    color: #053a5e;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.sobre .container-sobre{
    background-color: #fff;
    width: 1150px;
    margin: 0rem 1rem;
    border-radius: 12px;
    margin-top: 6rem;
    padding: 0rem 2rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.301);
}

.sobre .container-sobre h3{
    font-size: 3rem;
    margin: 2rem 0rem;
    text-align: center;
}

.sobre .container-sobre p{
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.sobre .container-sobre button{
    margin-bottom: 2rem;
}

.carros{
    min-height: 50vh;
}

.container-carros{
    background-color: #fff;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 3rem;
    padding: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.24);
    margin: 0rem 1rem;
}

.box-carros{
    background-color: #ccc;
    padding: 1.5rem 1rem;
    border-radius: 12px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.685);
    width: 100%;
}

.box-carros img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 1.5rem;
}

.box-carros h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.box-carros p{
    font-size: 1.2rem;
}

.box-carros button{
    margin-top: 1rem;
}

.contatos{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.formulario{
    background-color: #fff;
    border-radius: 12px;
    padding: 1rem 4rem;
    display: flex;
    width: 600px;
    flex-direction: column;
    margin-bottom: 5rem;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.425);
}

.formulario h3{
    font-size: 3rem;
    margin: 1rem 0rem;
}

.formulario input{
    background-color: #ccc;
    border: transparent;
    outline: none;
    font-size: 1.3rem;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 70px;
    border-radius: 12px;
    width: 100%;
    transition: .4s ease-in-out;
}

.formulario input:hover{
    border: 3px solid #2b619b;
    box-shadow: 0px 0px 5px 1px #163f6b;
}

.formulario input::placeholder{
    color:#0A1E33;
    font-size: 1.2rem;
    font-weight: 500;
}

.formulario button{
    margin-bottom: 1.5rem;
}

footer{
    background-color: #0A1E33;
    font-size: 2rem;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}

footer a{
    color: blue;
    transition: .3s;
}

footer a:hover{
    color: rgb(10, 10, 129);
}

@media (max-width:950px){
    .principal{
        justify-content: center;
    }

    .texto-principal{
        transform: translateX(0px);
    }

    .texto-principal h2{
        font-size: 4rem;
    }

    .header{
        border-bottom: 2px solid #fff;
    }

   .navLinks{
    background-color: #0A1E33;
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 101%;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition:transform .5s ease-in-out ;
   }

   .open{
    transform: translateX(0%);
   }

   .navLinks a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 2px solid #fff;
    width: 500px;
    height: 60px;
    text-align: center;
    overflow: hidden;
   }

   .toggle-bars{
    display: block;
   }

   .sobre .container-sobre{
    width: 800px;
   }

   .sobre  .container-sobre h3{
    font-size: 2.5rem;
   }


   .container-carros{
    padding: 2rem 1rem;
    width: 680px;
    margin: auto;
   }

   .box-carros{
    width:auto;
   }

   .box-carros img{
    width: 230px;
   }

   .box-carros h3{
    width: 100%;
   }

   .box-carros p{
    width: 100%;
   }

   .box-carros button{
    width: 140px;
   }

   footer{
    font-size: 1.5rem;
   }

   .logo img{
    width: 137px;
   }

   .navLinks a::after{
    position: static;
    }

    .navLinks a:hover{
    color: #ccc;
    background-color: #cccccc5e;
    }

.navLinks a:hover::after {
    width: 0%;
}

.container-carros{
     grid-template-columns: repeat(2, 1fr);
     
}

}

@media (max-width:550px){
    .header{
        position: static;
    }

    .header-box{
         padding: 1.5rem 1rem;
    }

    .principal{
        min-height: 80vh;
    }

    .texto-principal h2{
        font-size: 3.5rem;
    }

    .texto-principal p{
        font-size: 1.2rem;
    }

    .container-carros{
     grid-template-columns:1fr;
    }

    .container-carros{
        width: 400px;
        margin: 0px 15px;
        margin: auto;
    }

    .navLinks{
        top: 14%;
        z-index: 1;
    }

    .navLinks a{
        width: 200px;
    }

    .box-carros{
        width: 300px;
        margin: auto;
    }

    .box-carros img{
        width:170px ;
    }

    .formulario{
        width: 400px;
    }

    footer{
        font-size: 1rem;
    }
}