@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #ccc;
    width: 100%;
    min-height: 100vh;
}

.header{
 background-color: #0A1E33;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 9;
}

.header-box{
    max-width: 1700px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    margin: auto;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    color: #fff;
    cursor: pointer;
}

.logo img{
    cursor: pointer;
    display: flex;
    width: 200px;
    filter: brightness(0) invert(1);
}


.navLinks a{
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin-left: 2rem;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease;
}

.navLinks a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width .5s ease;
}

.navLinks a:hover{
    color: #ccc;
}

.navLinks a:hover::after {
    width: 100%;
}

.toggle-bars{
    border: none;
    display: none;
    background: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.toggle-bars:hover{
    color: #ccc;
}

.principal{
    background-image: url(img/fundo-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 2rem 1rem;
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.texto-principal{
    margin: auto;
    width: 600px;
    padding: 1.5rem;
    border-radius: 12px;
    color: #fff;
}

.texto-principal h2{
    font-size: clamp(2.2rem, 5vw, 4rem);
    margin-bottom: .5rem;
}

.texto-principal p{
    font-size:  clamp(1rem, 2.5vw, 1.5rem);
    margin-bottom: 1.5rem;
}

.btn{
    background-color:#053a5e ;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.466);
    transition: .3s ease-in-out;
}

.btn:hover{
    scale: 1.05;
    background-color:#0a578a ;
}

.section{
    margin: auto;
    max-width: 1700px;
    min-height: 100vh;
    scroll-margin-top: 120px;
}

.h2{
    color: #fff;
    font-size: 3.9rem;
    font-weight: 600;
    background-color: #ccc;
    text-align: center;
    padding: 1rem 0rem;
    margin: 2rem;
}

.h2 span{
    color: #053a5e;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.sobre .container-sobre{
    background-color: #fff;
    max-width: 1150px;
    width: 100%;
    margin: 0rem 1rem;
    border-radius: 12px;
    margin-top: 6rem;
    padding:2rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.301);
}

.sobre .container-sobre h3{
    font-size: 3rem;
    margin: 2rem 0rem;
    text-align: center;
}

.sobre .container-sobre p{
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.sobre .container-sobre button{
    margin-bottom: 2rem;
}

.carros{
    min-height: 50vh;
}

.container-carros{
    background-color: #fff;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    text-align: center;
    gap: 2rem;
    max-width: 1400px;
    padding: 2rem;
    margin: 0 auto 3rem;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.24);
    margin: 0rem 1rem;
}

.box-carros{
    background-color: #ccc;
    padding: 1.5rem ;
    border-radius: 12px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.685);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box-carros img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 1.5rem;
}

.box-carros h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.box-carros p{
    font-size: 1.2rem;
}

.box-carros button{
    margin-top: 1rem;
}

.contatos{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.formulario{
    background-color: #fff;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    margin-bottom: 5rem;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.425);
}

.formulario h3{
    font-size: 3rem;
    margin: 1rem 0rem;
}

.formulario input{
    background-color: #ccc;
    border: transparent;
    outline: none;
    font-size: 1.3rem;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 70px;
    border-radius: 12px;
    width: 100%;
    transition: .4s ease-in-out;
}

.formulario input:hover{
    border: 3px solid #2b619b;
    box-shadow: 0px 0px 5px 1px #163f6b;
}

.formulario input::placeholder{
    color:#0A1E33;
    font-size: 1.2rem;
    font-weight: 500;
}

.formulario button{
    margin-bottom: 1.5rem;
}

footer{
    background-color: #0A1E33;
    font-size: 2rem;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}

footer a{
    color: blue;
    transition: .3s;
}

footer a:hover{
    color: rgb(10, 10, 129);
}

@media (max-width: 768px) {

  .header-box {
    padding: 1rem 1.5rem;
  }

  .principal {
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
  }

  .toggle-bars {
    display: block;
    z-index: 11;
  }

  .navLinks {
     position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    max-width: 320px;
    height: 100vh;
    background-color: #0A1E33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    transform: translateX(100%);
    transition: transform .4s ease;
    z-index: 10;
  }

  .navLinks.open {
    transform: translateX(0);
  }

  .navLinks a {
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

  .h2 {
    font-size: clamp(2rem, 6vw, 3rem);
    margin: 1rem;
  }

  
}