/* === Estilos para celular === */
@media (max-width: 480px){
    header{
        position: static;
        height: 320px;
    }
    
    .cabeca{
        flex-direction: column;
        align-items: center;
        padding: 10px 15px;
        background-color: #E16432;
    }

    .log{
        justify-content: center;
        margin: 0;
    }

    .foto{
        margin: 0;
    }

    .log a{
        font-size: 24px;
    }

    .navegacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navegacao a {
        margin: 5px 0;
        font-size: 16px;
    }

    .btn{
        background-color: #E16432;
    }

    .btn:hover{
        background-color: #ff692e;
        color: #fff;
    }

    .main{
        background: url(img/pexels-h3mins-28436862\ \(1\).jpg) no-repeat;
        background-size: cover;
        background-position: center bottom;
    }

    .main-box {
        width: 95%;
        left: 50%;
        top: 120px;
        transform: translateX(-50%);
        padding: 15px;
    }

    .main-box h1 {
        font-size: 28px;
    }

    .main-box p{
        font-size: 14px;
    }

    .section-1 .container-1 {
        width: 95%;
        padding: 10px;
    }

    .container-1 h2{
        font-size: 28px;
    }

    .container-1 p{
        font-size: 13px;
    }

    .carro{
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
    }

    .carro-box{
        padding: 10px;
    }

    .foto-carro{
        width: 100%;
        height: auto;
    }

    .formulario input:hover{
        border: 2px solid #ff692e;
    box-shadow: 0px 0px 10px 0px #ff692e;
    }
    .formulario textarea:hover{
        border: 2px solid #ff692e;
    box-shadow: 0px 0px 10px 0px #ff692e;
    }

    .rodape{
        flex-direction: column;
        height: auto;
        padding: 10px 0;

    }

    .rodape i {
        margin: 5px 0;
        font-size: 18px;
    }
}
/* === Estilos para tablet === */
@media (min-width: 769px) and (max-width: 1024px) {
 .cabeca{
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
 }

 .log{
    justify-content: flex-start;
    margin-bottom: 15px;
 }

 .navegacao{
    margin-left: 15px;
    font-size: 18px;
 }

 .main-box{
    width:90% ;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    padding: 20px;
 }

 .main-box h1{
    font-size: 36px;
 }

 .main-box p{
    font-size: 16px;
 }

 .section-1 .container-1{
    width: 90%;
    padding: 15px;
 }

 .container-1 h2{
    font-size: 32px;
 }
 
    .container-1 p{
        font-size: 14px;
    }

    .carro{
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .foto-carro{
        width: 100%;
    }

    .contato-box{
        width: 90%;
        height: auto;
        padding: 15px;
    }

    .formulario input,
    .formulario textarea{
        width: 100%;
    }
}